.topBlog{
    background-color: whitesmoke;
    text-align: center;
    padding: 50px 10px;
}
.topBlog h1{
    font-size: 18px;
    font-weight: 700;
    color: #6A1818;
    font-family: 'Great Vibes';
    font-style: italic;
    padding-bottom: 30px;
}
.topBlog h2{
    font-size: 30px;
    font-weight: 700;
    color: #333333;
}
.topBlog .blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}
.topBlog .blog-btn{
    padding: 17px 71px;
    color: white;
    margin-top: 30px;
    background: linear-gradient(to left, #6A1818 50%, black 50%) right;
    background-size: 200%;
    position: relative;
    transition: .5s ease-out;
}
.topBlog .blog-btn:hover{
    background-position: left;
}

@media screen and (max-width: 1024px) {
    .topBlog .blogs{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 767px) {
    .topBlog .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .topBlog{
        padding: 30px 10px;
    }
}