.banner-image{
    position: relative;
}
.banner-image::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000000b8;
    top: 0;
    left: 0;
}
.banner-image .content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
    width: 100%;
    z-index: 9;
}
.banner-image .content p{
    font-size: 20px;
    font-weight: 600;
    color: #999999;
}
.banner-image .content h3{
    font-size: 50px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}
.banner-image .content h4{
    font-size: 20px;
    font-weight: 500;
    color: #999999;
    text-transform: uppercase;
}
.banner-image .content a{
    transition: .5s;
}
.banner-image .content a:hover{
    color: #C9000B;
}
@media screen and (max-width: 767px) {
    .banner-image .content h3 {
        font-size: 32px;
    }
}
@media screen and (max-width: 576px) {
    .banner-image .content h3 {
        font-size: 22px;
    }
    .banner-image .content p {
        font-size: 16px;
    }
    .banner-image .content h4 {
        font-size: 16px;
    }
}