.location-section{
    background: #E4000D url(/src/assets/bg-header.png);
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 220px;
    padding: 15px 0;
}
.locations{
    background-color: #000;
    text-align: center;
    position: relative;
}
.locations::before{
    background-image: url(/src/assets/bg-1.png);
    content: '';
    position: absolute;
    height: 7px;
    width: 100%;
    background-repeat: repeat-x;
    left: 0;
    bottom: -7px;
}
.locations p{
    font-size: 25px;
    font-weight: 700;
    color: #ffff;
    margin: 0;
    padding: 10px 50px;
}
@media screen and (max-width: 576px) {
    .locations p{
        font-size: 17px;
    } 
}