#google-signup{
    background-color: #F54234;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
#google-signup p{
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    transition: .5s;
}
#google-signup p:hover{
    opacity: 80%;
}
#google {
    background-color: #4ba2e4;
    height: 50px;
    font-size: 28px;
    width: 60px;
    padding: 12px;
    color: white;
}
#facebook-signup{
    background-color: #3A5999;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}
#facebook-signup p{
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
    transition: .5s;
}
#facebook-signup p:hover{
    opacity: 80%;
}
#facebook {
    background-color: #1D3A62;
    height: 50px;
    font-size: 28px;
    width: 60px;
    padding: 12px;
    color: white;
}