.chef-section {
  background-color: whitesmoke;
  text-align: center;
  padding: 50px 10px;
}
.chef-section h1 {
  font-size: 35px;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
}
.chef-section p {
  max-width: 550px;
  margin: 10px auto;
  font-size: 14px;
  color: #555555;
}
.chef-section .slider {
  padding: 20px 0 50px 0;
  background-color: whitesmoke;
}
.chef-section .chef-border {
  position: relative;
}
.chef-section .chef-border::after {
  content: "";
  position: absolute;
  height: 99%;
  width: 1px;
  background: #c9000b;
  top: 20px;
  right: 14px;
}
.chef-section .chef {
  border-bottom: 1px solid #c9000b;
  position: relative;
}
.chef-section .chef img {
  margin: 0 auto;
  position: relative;
}
.chef-section .chef::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #c9000b;
  left: 0;
  bottom: 93%;
  transform: translate(0, -95%);
}
.chef-section .chef::after {
  content: "";
  position: absolute;
  height: 99%;
  width: 1px;
  background-color: #c9000b;
  left: 14px;
  top: 20px;
}
.chef-section .chef .social-media {
  display: flex;
  justify-content: center;
  border: 2px solid #c9000b;
  margin: 0 30px;
}
.chef-section .chef .social-media svg {
  color: #cccccc;
  margin: 15px 10px;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}
.chef-section .chef .social-media svg:hover {
  color: #c9000b;
}
.chef-section .chef h1 {
  color: #666666;
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}
.chef-section .chef h2 {
  color: #666666;
  font-size: 16px;
  margin-bottom: 30px;
}

.chef-section .swiper-button-prev::after {
  display: none;
}
.chef-section .swiper-button-next::after {
  display: none;
}

@media screen and (max-width: 767px) {
  .chef-section p {
    max-width: 100%;
  }
  .chef-section {
    padding: 30px 10px;
  }
  .chef-section h1 {
    font-size: 25px;
}
}
