@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url(/src/assets/bg.png);
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 50px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media screen and (max-width:776px) {
  .container{
    padding: 0 30px;
  }
}
@media screen and (max-width:576px) {
  .container{
    padding: 0 15px;
  }
}