.main-food-section{
    background-color: white;
    padding: 50px 10px;
}
.main-food-section p{
    margin-bottom: 20px;
}
.main-food-section .foods-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}
.main-food-section .foods-section .single-food{
    border: 3px dashed #f2f2f2;
    border-radius: 10px;
    padding: 20px 15px;
    transition: .5s;
}
.main-food-section .foods-section .single-food:hover{
    border: 3px dashed #C9000B;
    border-radius: 5px;
}
.main-food-section .foods-section .single-food img{
    width: 100%;
}
.main-food-section .foods-section .single-food h3{
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}
.main-food-section .foods-section .single-food h4{
    font-size: 18px;
    color: #C9000B;
    font-weight: bold;
}
.main-food-section .foods-section .single-food button {
    margin: 10px auto;
    padding: 12px 71px;
    color: #C9000B;
    border: 1px solid #C9000B;
    display: flex;
    align-items: center;
    background: linear-gradient(to left, transparent 50%, black 50%) right;
    background-size: 200%;
    position: relative;
    transition: .5s ease-out;
}
.main-food-section .foods-section .single-food .arrow-icon{
    padding-left: 4px;
    transition: .5s;
}
.main-food-section .foods-section .single-food button:hover{
    background-position: left;
    border: 1px solid black;
    color: white;
}
.main-food-section .foods-section .single-food button:hover .arrow-icon{
    transform: translateX(8px);
}
@media screen and (max-width: 1200px) {
    .main-food-section .foods-section{
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}
@media screen and (max-width: 992px) {
    .main-food-section .foods-section{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 767px) {
    .main-food-section .foods-section{
        grid-template-columns: repeat(1, 1fr);
    }
}